.HeaderMobile {
    display: flex;
    width: 100%;
	background: white !important;
	box-shadow: none !important;
}

.Logo {
	padding-left: 4vw;
	flex-grow: 1;
	font-size: 2rem;
	color: #333333;
    font-family: "NoeDisplay";
}