.FlatButton {	
	border-radius: 0px !important;
	box-shadow: none !important;
	font-family: "AvertaRegular";
	text-transform: none !important;
	background-color: #f9f9f9 !important;
	color: #333333 !important;
}

.Selected {	
	background-color: #64b4fa !important;
	color: white !important;
}
