.Header {
    display: flex;
    width: 100%;
}

.Logo_container {
    width: 20%;
    font-family: "NoeDisplay";
}

.Navigation_container {
    width: 60%;
    display: flex;
    font-family: "AvertaRegular";
}

.Nav_link {
    width: fit-content;
    flex-grow: 1;
}

.Actions_container {
    display: flex;
    width: 20%;
    justify-content: flex-end;
}

.Actions_container > * {
    flex-grow: 1;
}